.board {
  background: #ECEFF1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;  
}

.board4 {
  width: 80%;
  max-width: 750px;
}

.board5 {
  width: 100%;
  max-width: 925px;
}
